html {
  min-height: 100%;
  height: 100%;
  width:100%;
  overflow-x:hidden;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  height: 100%;
  background:#e8e8e8;
  margin:0;
  padding: none;
  overflow-x:hidden;
  -webkit-animation: bugfix infinite 1s; 
  -moz-animation: bugfix infinite 1s;
}

/* Navigation slide bugfix for android browser */
@-webkit-keyframes bugfix {
  from { padding:0; }
  to { padding:0; }
}

@-moz-keyframes bugfix {
  from { padding:0; }
  to { padding:0; }
}

/* global typography*/
h1 {
  font-size:1.5em;
  font-weight:400;
  margin:1em;
  margin-left:0;
}

h2 {
  font-size:2.2em;
  font-weight:300;
  letter-spacing:-1px;
  margin-bottom:0.5em;
  margin-left:0;
}

h3 {
  font-size:1.0em;
  font-weight:700;
  margin:0.5em 0.5em 0.5em 0;
}

h4 {
  font-size:0.9em;
  font-weight:400;
  line-height:14px;
  margin:0.5em 0.5em 1em 0;
}

a {
  color:inherit;
}

textarea {
  resize: vertical;
}
/* end global typography*/


/* start navigation*/

.preloaded {
  transition: none;
}

.bar-container {
  width:100%;
}

/* mobile off canvas panel*/

.main-bar nav {
  position: absolute;
  /*changing position to fixed will break the center alignment*/
  display: block;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  background: #333;
  -webkit-transition: right 25ms ease;
  -moz-transition: right 25ms ease;
  -ms-transition: right 25ms ease;
  -o-transition: right 25ms ease;
  transition: right 25ms ease;
}

.main-bar nav a {
  display: block;
  padding: 10px 0;
  color: #fff;
  text-decoration: none;
}

.main-bar nav a:hover {
  background: #fc846b;
  background: rgba(255,255,255,.15);
}

/* different forthlight link*/
.main-bar nav a.logo-link {
  font-weight: 700;
  letter-spacing: 1px;
}

.main-bar ul {
  margin: 0;
  padding: 40px 20px 20px;
  list-style-type: none;
}

.main-bar li {
  border-top: 1px solid #e1e1e1;
  border-top: 1px solid rgba(255,255,255,.2);
  text-align: center;

}

/* search form in header*/
.nav-search{
  float: right;

}

.nav-search input{
  display: inline;
}

.launcher-searchbar {
  background: #efefef;
  border: 0;
  color:#222;
  font-size: 16px;
  margin-top: 5px;
  height: 25px;
  padding: 0 5px;
}

/* mobile panel toggle*/

.main-bar label {
  height: 40px;
  top: 0;
  display: block;
  position: fixed;
  -webkit-transition: all 25ms ease;
  -moz-transition: all 25ms ease;
  -ms-transition: all 25ms ease;
  -o-transition: all 25ms ease;
  transition: all 25ms ease;
  cursor: pointer;
  z-index: 10;
}

/*left sidebar toggle*/
.proud-sideslide label {
  text-align:center;
  padding: 3px 5px 0 5px;
  width: 15%;
  left: 0;
}

/*right sidebar toggle*/
.sneaky-sideslide label {
  text-align:center;
  padding: 3px 5px 0 5px;
  width: 15%;
  right: 0;
}

.slide-label label:hover{
  background: #fc846b;
  background: rgba(255,255,255,.15);
}


/*Non toggle middle title*/
.nav-head-title{
  text-align:center;
  display: block;
  position: fixed;
  padding: 3px 5px 0 5px;
  width: 100%;
  height: 40px;
  top: 0;
  left: 0;
  background: #fc6e51;
  z-index: 8;
}

.nav-head-title a{
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 40px;
}

.main-bar input[type="checkbox"] {
  display: none;
}

.proud-sideslide input:checked ~ .proud-bar-container nav {
  right: 0;
  z-index: 2;
}

.sneaky-sideslide input:checked ~ .sneaky-bar-container nav {
  left: 0;
  z-index: 2;
}


/* end panel toggle*/

/* end mobile off canvas panel toggle*/

/* Desktop navigation bar*/
@media screen and (min-width: 768px) {

  body {
   width:100%;
 }

 .nav-head-title{
   display: none;
 }

 .sneaky-sideslide{
   display: none;
 }

 .main-bar nav {    
   position: static;
   height: auto;
   width: auto;
   background: #fc6e51;
   overflow: hidden;
 }

 .main-bar nav ul {
   padding: 0;
 }

 .main-bar nav li {
   float: left;
 }

 .main-bar nav a {
   padding: 8px 20px;
 }

 .main-bar label {
   display: none;
 }

}
/* end desktop navigation bar*/

.navigation-wrapper{
  color:#fff;
}
/* end navigation*/

/*buttons*/

.launcher-btn {
  background: #4A8CF6;
  border: 0;
  color:#fff;
  cursor: pointer;
  display: inline-block;  
  font-size: 16px;
  margin-top: 5px;
  height: 25px;
  line-height: 40px;
  min-width:auto;
  max-width:10%; 
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
}

.mock-btn {  
  background: #4A8CF6;
  border: 0;
  color:#fff;
  cursor: pointer;
  display: inline-block;  
  font-size: 16px;
  margin-top:5px;
  margin-bottom:5px;
  height: 40px;
  line-height: 40px;
  min-width:115px;
  max-width:30%; 
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
}

.mock-btn:hover{
  background: #376bd8;
}

.del {
  background:#FC6E51;
}

.del:hover {
  background: #fc846b!important;
}

/*end buttons*/

/*checkboxes*/

.check-style {
  padding:10px 0;
}

.check-style label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 28px;
  margin-right: 12px;
}

.check-style input[type=checkbox] {
  display: none;
}
.check-style label:before {
  font-weight: normal;
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  z-index: 1;
  bottom: 1px;
  background-color: #4A8CF6;
}

.check-style .checkbox label:before {
  border-radius: 3px;
}

.check-style input[type=checkbox]:checked + label:before {
  content: '\2713';
  text-shadow: 1px 1px 1px #10758C;
  font-size: 24px;
  color: #f3f3f3;
  text-align: center;
  line-height: 24px;
}

/*end checkboxes*/

/*footer*/

.foot-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}
.footer, .push {
  height: 4em;
}

.footer {
  background: #333;
  color:#fff;
  text-align: center;
  padding:10px;
}

.footer a {
  text-decoration: underline;
  margin:10px;
}

.watermark {
  color:#FC6E51;
}
/*end footer*/


/*priting*/
@media print {

  * {
    background: none;
    padding:none;
    margin: none;
  }

  body {
    font: 12pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.3;
  }

  h1 {
    font-size: 24pt;
  }

  h2 {
    font-size: 14pt;
    margin-top: 25px;
  }


  @page :left {
    margin: 0.5cm;
  }

  @page :right {
    margin: 0.8cm;
  }

  header:before {
    display: block;
    content: "This paper was printed from www.forthlight.org Please check back soon for more solar powered knowledge.";
    margin-bottom: 10px;
    border: 1px solid #bbb;
    padding: 3px 5px;
    font-style: italic;
  }
}
