<!DOCTYPE html>
<html>
<head>
  <title>CommonDomain</title>
  <%= stylesheet_link_tag    "common_domain/application", media: "all" %>
  <%= javascript_include_tag "common_domain/application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<%= yield %>

</body>
</html>
